{
    "container": {
        "type": "DOCKER",
        "docker": {
            "image": "{{resource.assets.container.docker.agent}}",
            "forcePullImage": true,
            "parameters": [
                {
                    "key": "env", "value": "APP_SERVER={{opsramp.app_server}}"
                },
                {
                    "key": "env", "value": "AGENT_API_KEY={{opsramp.api_key}}"
                },
                {
                    "key": "env", "value": "AGENT_API_SECRET={{opsramp.api_secret}}"
                },
                {
                    "key": "env", "value": "CLUSTER_ID={{opsramp.cluster_id}}"
                },
                {
                    "key": "env", "value": "MESOS_SLAVE=true"
                }
            ],
            
            "network": "HOST"
        },
        "volumes": [
            {
                "containerPath": "/var/run/docker.sock",
                "hostPath": "/var/run/docker.sock",
                "mode": "RO"
            }
        ]
    },
    "cpus": {{opsramp.cpus}},
    "mem": {{opsramp.mem}},
    "instances": {{opsramp.instances}},
    "acceptedResourceRoles": ["slave_public", "*"],
    "constraints": [
        ["hostname", "UNIQUE"],
        ["hostname", "GROUP_BY"]
    ],
    "healthChecks": [
        {
            "protocol": "COMMAND",
            "command": { "value": "/probe.sh" },
            "gracePeriodSeconds": 300,
            "intervalSeconds": 60,
            "timeoutSeconds": 20,
            "maxConsecutiveFailures": 3
        }
    ]
}